<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% block content %}

    <h1>How It Works</h1>
    <p></p>

    <h1>How To Use</h1>
    <p></p>

    <h1>About Us</h1>
    <p>Program ini dibuat oleh tiga mahasiswa IF ITB 2019 atas nama Rayhan Alghifari, Raihan Astrada, dan Rafli Zamzami</p>
    <p>Kami bertiga mengerjakan program ini dalam kondisi tidak mengerti apapun tentang pembuatan website dengan framework</p>
    <p>Belum lagi dihadapkan dengan pembuatan backend yang harus from scratch tidak pakai library bawaan</p>
    <p>Overall, tubes ini sulit dah</p>

    {% endblock %}
</body>
</html>