{% extends "layout.html" %}
{% block content %}
<form action="search" method="POST" enctype = "multipart/form-data">
    <section>
        <div class="col-8 offset-2">
            <div class="form-group">
                <input class="form-control" type="file" name="file" id="file" multiple>
            </div>
            <h5>OR</h4>
            <div class="form-group">
                <input placeholder="Enter website URL to scrape" class="form-control" type="url" name="url" id="url">
            </div>
        </div>
    </section>
    <div  class="row medium-margin-top">
        <div class="col-8 offset-2">
            <div class="form-group">
                <input placeholder="Enter search query" type="text" name="query" id="query" class="form-control" value="{{request.form['query']}}">
                <button class="margin-top btn btn-info btn-block">Search</button>
            </div>
        </div>            
    </div>
</form>
{% endblock %}