.margin-top {
    margin-top: 30px;
}

.medium-margin-top {
    margin-top: 60px;
}

.logo { color: #3835ca; font-family: "Georgia", serif; font-size: 75px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }

h4 {
    color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 28px;
}

.gcolor {
    text-transform: uppercase;
	background: linear-gradient(to left, #178f8f 30%, #864ccc 60%);
	-webkit-text-fill-color: transparent;
}

#query {
    padding: 30px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }